{{!-- style out a sign up form --}}

<section class="form-container">
  <form class="sign-up">
    <div class="field">
      <label class="label">Name</label>
      <div class="control has-icons-left has-icons-right">
        <input id="name" class="input" type="text" placeholder="name">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input id="email" class="input" type="email" placeholder="email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password
      </label>
      <div class="control has-icons-left has-icons-right">
        <input id="password" class="input" type="password" placeholder="password">
        <span class="icon is-small is-left">
          <i class="fa-solid fa-lock"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Confirm Password
      </label>
      <div class="control has-icons-left has-icons-right">
        <input id="password-confirm" class="input" type="password" placeholder="confirm password">
        <span class="icon is-small is-left">
          <i class="fa-solid fa-lock"></i>
        </span>
      </div>
    </div>

    <div class="field form-buttons">
      <div class="control">
        <button class="teal-btn button">Submit</button>
      </div>
    </div>

  </form>
  <div>
    <button class="button teal-btn toggle-form">Already registered? Click here to log in</button>
  </div>
</section>

<script src="/js/login.js"></script>