{{!-- style out a sign up form --}}

<div>
    <h1>Here will be a sign up form</h1>
    <button class="signup-login">Already registered? Click here to log in</button>
</div>

<script src="/js/login.js"></script>
