<form class="thread">
  <h1>{{state}} post</h1>
  {{#if edit}}
  <label for="title">Title</label>
  <input class="thread-title" name="title" type="text" value="{{title}}">
  <label for="content">Content</label>
  <textarea class="thread-content" name="content" cols="30" rows="10">{{content}}</textarea>
  {{else}}
  <label for="title">Title</label>
  <input class="thread-title" name="title" type="text" placeholder="topic of your digression">
  <label for="content">Content</label>
  <textarea class="thread-content" name="content" cols="30" rows="10" placeholder="spill your thoughts here"></textarea>
  {{/if}}
  <button class="button post-thread">Post your thoughts to hyperspace!</button>
</form>

<script src="/js/thread.js"></script>